*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  background-color: #f2f2f2;
}

a  {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

 .wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  position: relative;
 }

.main-header {
	margin: 0 auto;
	padding: 0;
}

/* Главное меню сайта  */

.main-navigation {
  position: relative;
  margin: 0;
  padding-left: 0;
}

.main-navigation-logo {
  display: inline-block;
  position: absolute;
  width: 140px;
  height: 71px;
  top: 0;
  left: 50%;
  margin-left: -75px;
}

.site-navigation {
  display: flex;
	margin: 0;
	padding: 0;
  list-style-type: none;
}

.site-navigation__item {
  font-weight: 700;
	border: 0;
  width: 239px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation__item a {
  color: #000000;
}

.site-navigation__item a:focus,
.site-navigation__item a:hover {
	color: #81b3d2;
}

.site-navigation__item a:active {
	color: #000000;
	opacity: 0.3;
}

.site-navigation__item--current {
	color: #766357;
}

.site-navigation__item--left {
	padding-left: 72px;
}

.site-navigation__item--right {
	padding-right: 72px;
	text-align: right;
}

.site-navigation__item--left:nth-child(2) {
	margin-right: auto;
}

.main-container {
	background-color: #ffffff;
}

.welcome {
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
}

.welcome__image {
	background-image: url('../img/white-polygon.svg'), url('../img/background-photo.jpg');
	background-color: #666666;
	background-repeat: no-repeat;
	background-position: center bottom, 50% 31%;
	padding-top: 75px;
}

.welcome__image img {
	margin: 0 auto;
	margin-bottom: 45px;
}

.welcome__intro {
	margin: 0 auto;
	margin-top: 10px;
}

.welcome__intro h1 {
	font-size: 21px;
  font-weight: 700;
  color: #333333;
  width: 440px;
}

.features-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.features-list__item:first-child {
	order: -2;
}

.features-list__item:last-child {
	order: -1;
}

.features-list__item {
	display: flex;
	flex-direction: row;
	color: #ffffff;
	line-height: 21px;
	text-align: center;
	background-color: #81b3d2;
}

.features-list__text {
	width: 400px;
}

.features-list__text h3 {
	font-size: 21px;
	font-weight: 700;
}

.features-list__number{
	font-size: 14px;
	font-weight: 400;
}

.features-list__item--common {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #000000;
  background-color: #ffffff;
}

.features-list__item--common li {
  width: 400px;
  padding: 60px 47px 70px;
}


.features-list__item--common h4 {
	font-size: 21px;
	font-weight: 700;
}

.features-list__item--common p {
	color: #333333;
}

.features-list__item--color {
	background-color: #eeeeee;
}

.features-list__text--color h3 {
	color: #000000;
}

.features-list__number--color {
	color: #333333;
}

.features-list__text--color p {
	color: #333333;
	font-size: 14px;
	font-weight: 400;
}

.features-list__image img {
  display:block;
}

.search-hotel {
  text-align: center;
}

.search-hotel h2 {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.search-hotel p {
	color: #333333;
}

.search-hotel__wrapper {
  position: relative;
  width: 568px;
  margin: 0 auto;
}


.search-hotel__button {
	display: block;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  padding-top: 35px;
  padding-bottom: 33px;
  padding-left: 35px;
  padding-right: 35px;

}

.search-hotel__button:focus,
.search-hotel__button:hover {
	background-color: #604e43;
}

.search-hotel__button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.search-hotel-form {
	display: flex;
	width: 568px;
	flex-wrap: wrap;

	position: absolute;
	background-color: #ffffff;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

	padding-left: 55px;
	padding-top: 55px;
	padding-bottom: 55px;
}

.search-hotel-form label,
.search-hotel-form__input {
	font-size: 14px;
	font-weight: 700;
	color: #000000;
}

.search-hotel-form__input {
	background-color: #f2f2f2;
	border: 2px solid transparent;
	padding-top: 14px;
	padding-bottom: 13px;
}

.search-hotel-form__input:focus {
  background-color: #ffffff;
  border: 2px solid #E6E6E6;
  outline: none;
}

.search-hotel-form__input:hover {
	background-color: #ebebeb;
}

.search-hotel-form__input--long {
	width: 386px;
	padding-left: 15px;
}

.search-hotel-form__input-short {
	width: 114px;
	text-align: center;
} 

.map__image {
  display: block;
}

.form-button {
	padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.calendar-button path{
	fill: #cacaca;
}

.calendar-button:focus path,
.calendar-button:hover path{
	fill: #000000;
}

.calendar-button:active path{
	fill: #81b3d2;
}

.increment-button,
.decrement-button {
	font-size: 26px;
  font-weight: 700;
	color: #A9A9A9;
}

.increment-button:focus,
.increment-button:hover,
.decrement-button:focus,
.decrement-button:hover {
	color: #0D1F32;
}

.increment-button:active,
.decrement-button:active{
	color: #75AFDB;
}

.search-hotel__submit {
	width: 458px;
	font-size: 21px;
	font-weight: 700;
	color: #ffffff;
	background-color: #81b3d2;
	border: none;
	padding-top: 17px;
	padding-bottom: 22px;
  padding-left:17px;
  padding-right: 17px;
	text-transform: uppercase;
}

.search-hotel__submit:focus,
.search-hotel__submit:hover {
	background-color: #669ec0;
}

.search-hotel__submit:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

/* Страница выбора гостиниц */

.hotels-filter {
	background-image: url('../img/filter-background.jpg');
	background-color: #263238;
	padding-left: 72px;
	padding-right: 72px;
}

.filter-hotel-form {
	display: flex;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.filter-hotel-form legend {
	font-size: 16px;
	font-weight: 700;
}

.filter-results__wrapper {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	display: flex;
	padding: 32px 36px 34px 32px;
	border-bottom: 1px solid rgba(0, 1, 1, 0.2);

	padding-left: 72px;
	padding-right: 72px;
}

.filter-results__found {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	margin-right: 43px ;
}

.sort-option,
.ascdesc {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sort-option li {
	margin-right: 33px;
}

.ascdesc {
	margin-left: auto;
}

.ascdesc__item {
	margin-left: 12px;
}

.ascdesc__item polygon {
  fill: #cacaca;
}

.ascdesc__item:hover polygon {
  fill: #231F20;
}

.ascdesc__item:active polygon {
  fill: #81b3d2;
}

.ascdesc__item--current svg {
	transform: rotate(180deg);
}

.ascdesc__item--current polygon {
  fill: #81b3d2;
}

.filter-hotel-form ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.filter-result__sort {
	margin-right: 40px;
}

.sort-option__item a {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.sort-option__item a:focus,
.sort-option__item a:hover {
	color: #81b3d2;
}

.sort-option__item a:active {
	color: #000000;
	text-decoration: none;
}

.sort-option__item--current a {
	color: #81b3d2;
	text-decoration: none;
}

.filter-result-item {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(0, 1, 1, 0.2);
	padding-left: 72px;
	padding-right: 72px;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.filter-result-item__intro {
	display: flex;
	width: 280px;
	flex-wrap: wrap;
	flex-direction: row;
}

.filter-result-item__name h3 {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
	margin-top: 0;
	margin-bottom: 0;
}

.filter-result-item__intro p {
	margin-top: 0;
	margin-bottom: 0;
}

.filter-result-item__type {
	margin-right: 21px;
}

.filter-result-item__name h3:hover {
	color: #81b3d2;
}

.filter-result-item__name h3:active {
	color: rgba(0, 0, 0, 0.3);
}

.filter-result-item__button {
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
  display: inline-block;
	padding-top: 7px;
	padding-bottom: 8px;
	padding-left: 17px;
	padding-right: 17px;
	margin-right: 7px;
	background-color: #81B3D2;
}

.filter-result-item__button:focus,
.filter-result-item__button:hover {
	background-color: #669ec0;
}

.filter-result-item__button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.filter-result-item__button--book {
	background-color: #766357;
}

.filter-result-item__button--book:focus,
.filter-result-item__button--book:hover {
	background-color: #604e43;
}

.filter-result-item__button--book:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.filter-result-item__rank {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.filter-result-item__stars {
	background-image: url('../img/star.svg');
	background-position: center center;
	background-repeat: space;
	height: 18px;
	margin-top: 0;
	margin-left: auto;
	margin-bottom: 0;
}

.filter-result-item__stars--four {
	width: 72px;
}

.filter-result-item__stars--three {
	width: 54px;
}

.filter-result-item__stars--two {
	width: 36px;
}

.filter-result-item__rating {
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	padding-top: 7px;
	padding-bottom: 8px;
	padding-left: 17px;
	padding-right: 17px;
  margin-bottom: 0;
	color: #666666;
	background-color: #F2F2F2;
}

 /* Футер */

 .main-footer {
  display: flex;
  background-color: #FFFFFF;
  padding-top: 34px;
  padding-bottom: 34px;
}

 .main-footer--indexpage {
  position: absolute;
  bottom: 0;
  background-color: rgba(255,255,255,0.9);
}

.main-footer__item {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-footer__social {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
  justify-content: center;
}

.main-footer__hashtag {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}

.main-footer__hashtag:focus,
.main-footer__hashtag:hover {
  color: #81b3d2;
}

.main-footer__hashtag:active {
  color: #000000;
  opacity: 0.3;
}

.main-footer__social--item {
	background-color: #81b3d2;
	margin-right: 2.5px;
  margin-left: 2.5px;
}

.main-footer__social--icon {
  width: 46px;
  height: 48px;
  display: flex;
  align-items: center;
}

.main-footer__social--icon svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.main-footer__social--icon:focus,
.main-footer__social--icon:hover {
	background-color: #669ec0;
}

.main-footer__social--icon:active {
  background-color: #5496bd;
}

.main-footer__social--icon:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.main-footer__logo {
	display: block;
	width: 115px;
	height: 41px;
 	fill: #231f20;
  margin-left: 8px;
}

.main-footer__logo:hover path {
 	fill: #81b3d2;
}

.main-footer__logo:active path {
 	fill: #bdbbbc;
}


/* Фильтр выбрать гостиницу в Седоне */

.filter-hotel-form fieldset {
  border: none;
}

/* Карточки найденных отелей */

.filter-results__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-result-item__image {
	margin-right: 30px;
}

.filter-result-item__image img {
	display: block;
}

.filter-result-item__description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: auto;
}

/* Позиционирование */
/* Блочная модель */
/* Типографика */
/* Оформление */
/* Анимация */
/* Разное */
