body {
  font-family: "PT Sans", "Arial", serif;
}

/* Главное меню сайта */

.site-navigation-item {
	/* Типографика */
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	/* Оформление */
	list-style-type: none;
}

 .site-navigation-item > a {
	/* Типографика */
	color: #000000;
	/* Оформление */
	text-decoration: none;
}

.site-navigation-item > a:hover {
	/* Типографика */
	color: #81b3d2;
}

.site-navigation-item > a:active {
	/* Типографика */
	color: #000000;
	opacity: 0.3;
}

.site-navigation-item-current > a {
	color: #766357;
}



/* Позиционирование */
/* Блочная модель */
/* Типографика */
/* Оформление */
/* Анимация */
/* Разное */
