body {
  font-family: "PT Sans", "Arial", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;  
  margin: 0;
  padding: 0;
}

a  {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
	max-width: 1200px;
	margin: 0 auto;
	color: #000000;
	background-color: #ffffff; 
}

.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 73px;
}

.main-navigation-logo {
	display: block;
	position: absolute;
	top: 0;
}

.site-navigation {			
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;	
	width: 100%;		
}

.site-navigation__item {
	font-weight: 700;
	list-style-type: none;
	border: 0;
	padding: 15px 0;
}

.site-navigation__item a {
	color: #000000;
	display: block;
}

.site-navigation__item a:hover {
	color: #81b3d2;
}

.site-navigation__item a:active {
	color: #000000;
	opacity: 0.3;
}

.site-navigation__item--current a {
	color: #766357;
}

.main-container {
	max-width: 1200px;
	margin: 0 auto; 
	background-color: #ffffff;	
}

.welcome {
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
}

.welcome__image {
	background-image: url('../img/white-polygon.svg'), url('../img/background-photo.jpg');	
	background-color: #666666;
	background-repeat: no-repeat;
	background-position: center bottom, 50% 31%;	
	padding-top: 75px;
}

.welcome__image img {
	margin: 0 auto;	
	margin-bottom: 45px;
}

.welcome__intro {	
	margin: 0 auto;	
	margin-top: 10px;
}

.welcome__intro h1 {
	font-size: 21px;
  font-weight: 700;
  color: #333333;
  width: 440px;
}

.features-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;	
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.features-list li:first-child {
	order: -2;
}

.features-list li:last-child {
	order: -1;
}

.features-list__item {
	display: flex;
	flex-direction: row;
	color: #ffffff;
	line-height: 21px;
	text-align: center;
	max-height: 256px;	
	background-color: #81b3d2; 
}

.features-list__text {
	width: 400px;
}

.features-list__text h3 {
	font-size: 21px;
	font-weight: 700;
}

.features-list__number{
	font-size: 14px;
	font-weight: 400;
}

.features-list__item--common {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

.features-list__item--common h4 {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
}

.features-list__item--common p {
	color: #333333;
	font-size: 14px;	
	font-weight: 400;	
}

.features-list__item--color {
	background-color: #eeeeee;
}

.features-list__text--color h3 {
	color: #000000;
}

.features-list__number--color {
	color: #333333;
}

.features-list__text--color p {
	color: #333333;
	font-size: 14px;	
	font-weight: 400;	
}

.search-hotel {
	background-color: #ffffff;	
	text-align: center;
}

.search-hotel h2 {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
}

.search-hotel p {
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}

.search-hotel-form {
	position: absolute;
	background-color: #ffffff;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.search-hotel__button {
	display: block;
	width: 568px;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 33px;  
}

.search-hotel-form label,
.search-hotel-form input
 {
	font-size: 14px;
	font-weight: 700;
	color: #000000;;
}

.search-hotel-form input {
	background-color: #f2f2f2;
	border: none;
}

.search-hotel__submit {
	width: 458px;
	font-size: 21px;
	font-weight: 700;
	color: #ffffff;
	background-color: #81b3d2;
	border: none;
	padding-top: 17px;
	padding-bottom: 22px;
	text-transform: uppercase;
}

.main-footer {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	opacity: 0.9;	
	background-color: #ffffff;	
}

.footer-hashtag {
	font-size: 21px;
	font-weight: 700;
}

.footer-social {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer-social li {
	width: 46px;
	background-color: #81b3d2;
}

.footer-copyright {
	font-size: 14px;
	font-weight: 400;
}

.footer-copyright img {
	 
}

.filter-hotel-form {
	display: flex;
}

.sort-result,
.sort-result-range,
.sort-result-items,
.footer-social {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Позиционирование */
/* Блочная модель */
/* Типографика */
/* Оформление */
/* Анимация */
/* Разное */